//COLORS

$color-secondary: #fff;
$color-primary: #1eccc7;
$color-link: #0004ff;
$color-invalid-url: #ff0000;
$color-header-text: #000000;
$color-footer-links: #000000;

// PADDING

$padding-layout: 30px 90px;